<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Our Customer Reviews</h1>
      <h5>Check out what they say</h5>

      <div class="cards">
        <div class="card">
          <img src="images/1.png" alt="" />
          <p>This is gold bum</p>
          <h4>Sandra Bullock</h4>
          <h4>Finance advisor</h4>
          <i class="fa fa-quote-left"></i>
        </div>

        <div class="card">
          <img src="images/1.png" alt="" />
          <p>This is gold bum</p>
          <h4>Sandra Bullock</h4>
          <h4>Finance advisor</h4>
          <i class="fa fa-quote-left"></i>
        </div>

        <div class="card">
          <img src="images/1.png" alt="" />
          <p>This is gold bum</p>
          <h4>Sandra Bullock</h4>
          <h4>Finance advisor</h4>
          <i class="fa fa-quote-left"></i>
        </div>
      </div>
    </div>
  </body>
</html>
